version: '3.9'

services:
  # ==========================
  # SQL SERVER
  # ==========================
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Mazzilli*1996
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - backend

  # ==========================
  # ZOOKEEPER
  # ==========================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - backend


  # ==========================
  # KAFKA
  # ==========================
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    ports:
      - "9092:9092"
    networks:
      - backend

  # ==========================
  # TRANSACTION API
  # ==========================
  transaction-api:
    build:
      context: .
      dockerfile: ./Transaction_Service/Transaction.Api/Dockerfile
    container_name: transaction-api
    depends_on:
      - sqlserver
      - kafka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Server=sqlserver,1433;Database=Transactions;User Id=sa;Password=Mazzilli*1996;TrustServerCertificate=True
      - Kafka__BootstrapServers=kafka:9092
      - Kafka__TopicTransactions=transactions
      - Kafka__TopicTransactionsValidated=transactions-validated
    ports:
      - "5000:8080"
    networks:
      - backend

  # ==========================
  # ANTIFRAUD API
  # ==========================
  antifraud-api:
    build:
      context: .
      dockerfile: ./Antifraud_Service/Antifraud.Api/Dockerfile
    container_name: antifraud-api
    depends_on:
      - sqlserver
      - kafka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Server=sqlserver,1433;Database=Transactions;User Id=sa;Password=Mazzilli*1996;TrustServerCertificate=True
      - Kafka__BootstrapServers=kafka:9092
      - Kafka__TopicTransactions=transactions
      - Kafka__TopicTransactionsValidated=transactions-validated
    ports:
      - "5001:8080"
    networks:
      - backend

  transaction-tests:
      build:
        context: .
        dockerfile: ./Dockerfile
      container_name: transaction-tests
      networks:
      - backend
      depends_on:
      - sqlserver
      - kafka

  antifraud-tests:
    build:
      context: .
      dockerfile: ./DockerfileAntifraud
    container_name: antifraud-tests
    networks:
      - backend  
    depends_on:
      - kafka
      - sqlserver

networks:
  backend:
    driver: bridge

volumes:
  sqlserver_data: